<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compresor/Decompresor LZ77</title>
</head>
<body>
    <h1>Compresor/Decompresor LZ77</h1>
    
    <form action="/compress" method="post" enctype="multipart/form-data">
        <label for="file">Selecciona archivo a comprimir:</label>
        <input type="file" name="file" id="file" required>
        
        <label for="max_search">Tamaño máximo de búsqueda:</label>
        <input type="number" name="max_search" id="max_search" required>
        
        <button type="submit">COMPRIMIR</button>
    </form>

    <form action="/decompress" method="post" enctype="multipart/form-data">
        <label for="compressed_file">Selecciona archivo a descomprimir:</label>
        <input type="file" name="compressed_file" id="compressed_file" required>
        
        <label for="max_search_decompress">Tamaño máximo de búsqueda:</label>
        <input type="number" name="max_search_decompress" id="max_search_decompress" required>
        
        <button type="submit">DESCOMPRIMIR</button>
    </form>    

    {% if compression_percentage %}
        <p>Porcentaje de compresión aproximado: {{ compression_percentage }}%</p>
    {% endif %}
</body>
</html>
